body{
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

#login{
    justify-content: end;
}

#header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1{
    margin: 10px;
}
#menuNavegacion{
    background-color: #F0D1EF;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#titular{
    text-align: center;
    margin: 10px;
}


#contenido{
    min-height: calc(100vh - 70px - 60px - 60px - 53px); 
    margin: 0 auto;
    background-color: #F0D1EF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.descripcion{
    margin-bottom: 0px;
}

#contenido div{ /*solo modificará los div que están dentro de contenido*/
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: justify;
}

#pie{
    background-color: #C39BD3;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    margin-bottom: 10px;
}

td{
    text-align: center;
}

.boton {
    width: 100px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #E4DFF4;
    color: black;
}

input, button, textarea{
    font-family: 'Dancing Script', cursive;
}

.boton:hover {
    cursor: pointer;
}

.boton:focus {
    background-color: #cae8e9;
    color: black;
}